body {
  font: 12pt Lato;
  color: #5F5F5F;
}

header {
  font-family: Abel;
  font-weight: 100;
}

#root > header {
  background-color: #2B5295;
  text-align: center;
}

#root > header a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: 100;
  font-family: Abel;
}

h1, h2 {
  padding: .5em;
}

h1 {
  font-size: 32pt;
  color: #00EEE7;
}

main > section {
  max-width: 64em;
  padding: 0 3em;
  margin: 0 auto;
}
